<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Edit Product Description Image Details</title>
        <!-- Bootstrap core CSS -->
        <?php echo $this->Html->css(array('front/bootstrap/css/bootstrap.min.css', 'front/bvalidator.css')); ?>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .mar_top_hed{
                margin-top: -40px;
                color: #555;
                text-align: center;
                margin-bottom: 5px;
                border-bottom: solid 1px #eee;

            } 
            .inver{
                color: red !important
            }
            .ver{
                color: green !important
            }
            
        </style> 
        <script type="text/javascript">
            // $(document).ready(function() {
            //     $('#add_rdi').bValidator();
            // });
        </script>
        <script type="text/javascript">
    $(document).ready(function() {
        $('#add_product').bValidator();
        $('#photo_upload').hide();
        $('#photo_chng').click(function() {
          console.log("hello");
            $('#photo_upload').toggle();
        });
    });
</script>


        <?= $this->Html->script(array('front/plugins/jquery/jquery.min.js',  'front/plugins/bootstrap/js/bootstrap.min.js', 'front/jquery.bvalidator-yc.js')); ?>
    </head>
    <body> 
        <div class="container content"> 
            <div class="row">
                <!-- Begin Sidebar Menu -->
                <h3> Edit Infographics</h3>
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="ibox-content">
                        <?php echo $this->Form->create('Infographic', array('id' => 'edit_infographics', 'class' => 'form-horizontal', 'type' => 'file')); ?>
                        <div class="row">
                        <div class="form-group"><label class="col-lg-2 control-label">Infographic Title</label>
                                <div class="col-lg-6">
                                    <?php echo $this->Form->input('info_title', array('class' => 'form-control', 'type' => 'text', 'placeholder' => 'Infographic Title', 'label' => false, 'data-bvalidator' => 'required')); ?>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Infographic Description</label>
                                <div class="col-lg-6">
                                   <?php echo $this->Form->input('info_desc', array('class' => 'form-control', 'type' => 'textarea', 'placeholder' => 'Description', 'label' => false, 'data-bvalidator' => 'required')); ?>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Meta Title</label>
                                <div class="col-lg-6">
                                   <?php echo $this->Form->input('meta_title', array('class' => 'form-control', 'type' => 'text', 'placeholder' => 'Meta Title', 'label' => false, 'data-bvalidator' => 'required')); ?>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Meta Keywords</label>
                                <div class="col-lg-6">
                                   <?php echo $this->Form->input('meta_keyword', array('class' => 'form-control', 'type' => 'text', 'placeholder' => 'Meta Keywords', 'label' => false, 'data-bvalidator' => 'required')); ?>
                                </div>
                            </div>
                            <div class="form-group"><label class="col-lg-2 control-label">Meta Description</label>
                                <div class="col-lg-6">
                                   <?php echo $this->Form->input('meta_desc', array('class' => 'form-control', 'type' => 'text', 'placeholder' => 'Meta Keywords', 'label' => false, 'data-bvalidator' => 'required')); ?>
                                </div>
                            </div>
                             <!------------------start description image upload---------->
                             <div class="form-group">
                <label class="control-label col-sm-3">Image</label>
                <div class="controls col-sm-4">
                    <?php if (!empty($this->request->data['Infographic']['image_path'])) { ?>
                        <?php
                        echo $this->Html->image('infographics_images/' . $this->request->data['Infographic']['image_path'], array('class' => 'img-thumbnail image_size'));
                    } else {
                        echo $this->Html->image('noimage.png', array('class' => 'img-thumbnail image_size'));
                    }
                    ?>
                </div>
            </div>

                       
                                    <?php echo $this->Form->input('id'); ?>
            <?php echo $this->Form->input('prev_photo', array('type' => 'hidden', 'value' => $this->request->data['Infographic']['image_path'])); ?>
            <div class="form-group">
                <label class="control-label col-sm-3"></label>
                <div class="controls col-sm-4">
                    <a id="photo_chng">Change Photo
                    </a> &nbsp;&nbsp;&nbsp;
                    <div hidden id="photo_upload">
                        <?php echo $this->Form->input('image_path', array('type' => 'file', 'class' => 'form-control', 'label' => false)); ?>
                    </div>
                </div>
            </div>
                            <!------------------end description image upload---------->
                           
                            
                            <div class="form-group"><label class="col-lg-2 control-label">Infographic Slug</label>
                                <div class="col-lg-6">
                                   <?php echo $this->Form->input('slug', array('class' => 'form-control', 'type' => 'text', 'placeholder' => 'Infographic Slug', 'label' => false, 'data-bvalidator' => 'required')); ?>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <?php echo $this->Form->submit(__('Save'), array('class' => 'btn btn-success btn-sm', 'div' => false)); ?>
                            <!-- <button onclick="goBack();" class="btn btn-sm btn-info">Back</button> -->
                        </div>
                        <?php echo $this->Form->end(); ?>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>