<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="pull-right">
                 </div>
                <h5>Report Description Image Update Details</h5> 
            </div>
            <div class="ibox-content">
                <div class="row">
                                <div class="col-lg-10">
                                    <br>
                                    <!----------->
                                    <form name="countryselect" action="rdupdateimagedata" method="post" >
                                    <input type="text" name="searchrdimage" id="country-list" class="form-control">
                                    <!-- <div style="display:none;"> -->
                                    <!-- <select class='form-control select2' id="country-list" name="countryselected">
                                    <option>Select</option>
                                        <?php //foreach($countries as $coun) { ?>
                                            <option value="<?php //echo $coun['Rdupdateimagedata']['id']; ?>"><?php //echo $coun['Rdupdateimagedata']['id']; ?>&nbsp;&nbsp;<?php //echo $coun['Rdupdateimagedatas']['product_name']; ?><?php //echo $coun['Rdupdateimagedatas']['slug']; ?></option>
                                        <?php //} ?>
                                    </select> -->
                                    <!-- </div> -->
                                    </div>
                                    <div class="col-lg-2">
                                    <input type="submit" value="Search" style="margin-top:14px;" class="btn btn-success btn-md"/>
                                    </div>
                                    </form>
                                    <br><br><br><br><br>
                                    <!------start-------------->
                                    <div class="col-lg-12">
                                    <!-- <div class="row"> -->
                                    <?php echo $this->Form->create("rdupdateimagedata",array('url'=>'/rdupdateimagedata/add')); ?>
                                    <?php echo $this->Form->submit(__('Save'), array('class' => 'btn btn-success btn-md', 'div' => false)); ?>
                                    <table class="table table-bordered table-striped table-condensed table-hover dataTable js-basic-example">
                                    <thead>
                                    <tr>
                                    <!-- <th style="width:60px">Id</th> -->
                                    <th style="width:90px">Product No</th>
                                    <th style="width:90px">Report Slug</th>
                                    <th style="width:200px">Image URL</th>
                                    <th style="width:200px">Image Alt</th>
                                    <th style="width:200px">Image Headline</th>
                                    </tr>
                                    </thead>
                                    <?php
                                    if(@$tarcounselect=="")
                                    {
                                       
                                    }
                                    else
                                    {
                                    foreach($tarcounselect as $counts) {
                                     $string = $counts['Rdupdateimagedata']['product_description'];

                                     //----------start strong------             
                                  //preg_match_all('/<strong>(.*?)<\/strong>/s', $string, $strongtext);

                                            //----start----
                                            $tname = 'strong';
                                            $pattern = "/<$tname ?.*>(.*)<\/$tname>/";
                                            preg_match_all($pattern, $string, $matchesstr);
                                            // echo "<pre>";
                                            // print_r($matches[0]);
                                            // foreach($matches[0] as $match)
                                            // {
                                            //     //echo $match;
                                            // if(strpos($match,'Europe'))
                                            // {
                                            //     // echo "Key exist!";
                                            //     echo $match;
                                            //     echo "<br>";
                                            // }
                                            // else
                                            // {
                                            //     // echo "Key does not exist!";
                                            //     // echo "<br>";
                                            // }
                                            // }
                                            //----end------

                                //    $strongreplace = $strongtext[1];
                                //     foreach($strongreplace as $strongstr) {
                                //     } 
                                   // echo $strongtext[0][2];
                                //    $pattern = "/Europe ([a-z0-9]*)\?/i";
                                //    $textf = preg_match($pattern, $string);
                                  
                                //     print_r($textf[0]);
                                     //---------end strong-------
                                    //----------start image url------             
                                   preg_match_all('/<img.*?src=[\'"](.*?)[\'"].*?>/i', $string, $matches);
                                     $elements = $matches[1];
                                    foreach($elements as $element) {
                                    }
                                    preg_match_all('/<img\s.*?\bsrc="(.*?)".*?>/si', $string, $matchesurl);
                                    //$elementsurls = $matchesurl[1];
                                    foreach($matchesurl as $elementurl) {
                                        //echo $elementurl[2];
                                    }
                                    //print_r($matches);

                                    //---------end image url-------
                                    //----------start image alt------         
                                   /* preg_match_all('/<img.*?alt="(.*?)".*>/',$string, $match);
                                    $elementss = $match[1];
                                    foreach($elementss as $elementsss) {
                                    }*/
                                    preg_match_all('/(alt)=("[^"]*")/i',$string, $matchalter);
                                    //echo $matchalter[2][2];
                                    //---------end image alt-------
                                    ?>
                                     <?php //echo $this->Html->script('back/ckeditor/ckeditor.js?'.time()); ?>
                                     <?php echo $this->Html->script('back/ckedito/ckeditor.js?'.time()); ?>
                                    <tbody id="AjaxRefreshTable">
                                   
                                    <textarea rows="10" cols="10" name="productdescription[]" style="display:none;" value="<?php echo $counts['Rdupdateimagedata']['product_description']; ?>"><?php echo $counts['Rdupdateimagedata']['product_description']; ?></textarea>
                                    <tr>
                                    <textarea style="display:none;" rows="2" cols="2" type="text" name="ids[]" class="form-control" readonly><?php echo $counts['Rdupdateimagedata']['id']; ?></textarea>
                                    <td style="width:90px"><textarea rows="2" cols="2" type="text" name="product_no[]"  class="form-control" readonly><?php echo $counts['Rdupdateimagedata']['product_no']; ?></textarea></td>
                                    <td style="width:160px">
                                    <textarea rows="4" cols="10" name="slug[]" class="form-control" readonly><?php echo $counts['Rdupdateimagedata']['slug']; ?></textarea>
                                    </td>
                                    <td style="width:200px">
                                    <b>Image 1 :</b> 
                                    <textarea rows="2" cols="10" name="image_urlold1[]" class="form-control" readonly><?php echo (!empty($elementurl[0]))?$elementurl[0]:""; ?></textarea>
                                    <br>
                                    <textarea rows="2" cols="10" name="image_url1[]" class="form-control"><?php echo (!empty($elementurl[0]))?$elementurl[0]:""; ?></textarea>
                                   
                                    <!---start image url----->
                                    <?php if(!empty($elementurl[1])){?>
                                    <hr>
                                    <b>Image 2 :</b> 
                                    <textarea rows="2" cols="10" name="image_urlold2[]" class="form-control" readonly><?php echo (!empty($elementurl[1]))?$elementurl[1]:""; ?></textarea>
                                    <br>
                                    <textarea rows="2" cols="10" name="image_url2[]" class="form-control"><?php echo (!empty($elementurl[1]))?$elementurl[1]:""; ?></textarea>
                                    <?php }else {?>
                                        <hr style="display:none">
                                    <b style="display:none">Image 2 :</b> 
                                    <textarea style="display:none" rows="2" cols="10" name="image_urlold2[]" class="form-control" readonly><?php echo (!empty($elementurl[1]))?$elementurl[1]:""; ?></textarea>
                                    <br>
                                    <textarea style="display:none" rows="2" cols="10" name="image_url2[]" class="form-control"><?php echo (!empty($elementurl[1]))?$elementurl[1]:""; ?></textarea>
                                    <?php }?>
                                    <!----end image url------->
                                     <!---start image url----->

                                    <?php if(!empty($elementurl[2])){?>
                                    <hr>
                                    <b>Image 3 :</b> 
                                    <textarea rows="2" cols="10" name="image_urlold3[]" class="form-control" readonly><?php echo (!empty($elementurl[2]))?$elementurl[2]:""; ?></textarea>
                                    <br>
                                    <textarea rows="2" cols="10" name="image_url3[]" class="form-control"><?php echo (!empty($elementurl[2]))?$elementurl[2]:""; ?></textarea>
                                    <?php }else {?>
                                         <b style="display:none">Image 3 :</b> 
                                         <textarea style="display:none" rows="2" cols="10" name="image_urlold3[]" class="form-control" readonly><?php echo (!empty($elementurl[2]))?$elementurl[2]:""; ?></textarea>
                                         <br>
                                         <textarea style="display:none" rows="2" cols="10" name="image_url3[]" class="form-control"><?php echo (!empty($elementurl[2]))?$elementurl[2]:""; ?></textarea>
                                        <?php } ?>

                                     <!----end image url------->
                                    </td> 

                                    <td style="width:200px">
                                    <b>Image Alt 1 :</b> 
                                    <textarea rows="2" cols="8" name="image_altold1[]" class="form-control" readonly><?php echo (!empty($matchalter[2][0]))?trim($matchalter[2][0],'"'):"";//echo $elementsss;  ?></textarea>
                                    <br>
                                    <textarea rows="2" cols="10" name="image_alt1[]" class="form-control"><?php echo (!empty($matchalter[2][0]))?trim($matchalter[2][0],'"'):"";//echo $elementsss; ?></textarea>
                                   
                                    <!---start image Alt----->
                                    <?php if(!empty($matchalter[2][1])){?>
                                    <hr>
                                    <b>Image Alt 2 :</b> 
                                    <textarea rows="2" cols="8" name="image_altold2[]" class="form-control" readonly><?php echo (!empty($matchalter[2][1]))?trim($matchalter[2][1],'"'):""; ?></textarea>
                                    <br>
                                    <textarea rows="2" cols="10" name="image_alt2[]" class="form-control"><?php echo (!empty($matchalter[2][1]))?trim($matchalter[2][1],'"'):""; ?></textarea>
                                    <?php }else {?>
                                        <b style="display:none">Image Alt 2 :</b> 
                                    <textarea style="display:none" rows="2" cols="8" name="image_altold2[]" class="form-control" readonly><?php echo (!empty($matchalter[2][1]))?trim($matchalter[2][1],'"'):""; ?></textarea>
                                    <br>
                                    <textarea style="display:none" rows="2" cols="10" name="image_alt2[]" class="form-control"><?php echo (!empty($matchalter[2][1]))?trim($matchalter[2][1],'"'):""; ?></textarea>
                                    <?php } ?>
                                  
                                    <?php if(!empty($matchalter[2][2])){?>
                                    <hr>
                                    <b>Image Alt 3 :</b> 
                                    <textarea rows="2" cols="8" name="image_altold3[]" class="form-control" readonly><?php echo (!empty($matchalter[2][2]))?trim($matchalter[2][2],'"'):""; ?></textarea>
                                    <br>
                                    <textarea rows="2" cols="10" name="image_alt3[]" class="form-control"><?php echo (!empty($matchalter[2][2]))?trim($matchalter[2][2],'"'):""; ?></textarea>
                                    <?php }else {?>
                                        <textarea style="display:none" rows="2" cols="8" name="image_altold3[]" class="form-control" readonly><?php echo (!empty($matchalter[2][2]))?trim($matchalter[2][2],'"'):""; ?></textarea>
                                    <br>
                                    <textarea style="display:none" rows="2" cols="10" name="image_alt3[]" class="form-control"><?php echo (!empty($matchalter[2][2]))?trim($matchalter[2][2],'"'):""; ?></textarea>
                                    <?php }?>
                                      <!----end image Alt------->
                                    </td>
                                    <td style="width:200px">
                                    <b>Image Title 1 :</b> 
                                    <!-- <textarea rows="1" cols="8" name="image_titleold1[]" class="form-control" readonly><?php //echo (!empty($strongtext[1][0]))?$strongtext[1][0]:""; ?></textarea>
                                    <br>
                                    <textarea rows="1" cols="10" name="image_title1[]" class="form-control"><?php //echo (!empty($strongtext[1][0]))?$strongtext[1][0]:"";  ?></textarea>
                                     -->
                                    <?php
                                         foreach($matchesstr[0] as $matchstr)
                                         {
                                             //echo $match;
                                         if(strpos($matchstr,'Europe') || strpos($matchstr,'EUROPE'))
                                         {
                                             //echo "Key exist!";
                                            //  echo $match;
                                            //  echo "<br>";
                                             ?>
                                             <br>
                                             <input type="hidden" name="showtextid[]" value="<?php echo $counts['Rdupdateimagedata']['id']; ?>">
                                             <textarea rows="1" cols="8" name="image_titleold[]" class="form-control" readonly><?php echo $matchstr; ?></textarea>
                                    <br>
                                    <textarea rows="1" cols="10" name="image_title[]" class="ckeditor form-control"><?php echo $matchstr;  ?></textarea>
                                   
                                        <?php
                                         }
                                        //  else
                                        //  {
                                           // echo "Key does not exist!";
                                             // echo "<br>";
                                             ?>
                                           <!-- <input type="hidden" name="image_titleold[]" value="<?php //echo $matchstr;  ?>">
                                           <input type="hidden" name="image_title[]" value="<?php //echo $matchstr;  ?>"> -->
                                             <?php
                                        //  }
                                         }
                                        }
                                    }
                                        ?>
                                     <!---start image strong title/headline----->
                                    </tbody>
                                    </table>
                                    <?php echo $this->Form->submit(__('Save'), array('class' => 'btn btn-success btn-md', 'div' => false)); ?>
                                    <?php echo $this->Form->end(); ?>
                                    <!-- </div> -->
                                    </div>
                                    <!------end---------------->
                                  <!-------start pagination----------->
                          <div class="row col-md-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <p>
                                <?php
                                echo $this->Paginator->counter(array(
                                    'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
                                ));
                                ?> </p>
                            <ul class="pagination" style="visibility: visible;">
                                <li><?= $this->Paginator->prev(__('First'), array(), null, array('class' => 'prev disabled')); ?></li>
                                <li><?= $this->Paginator->numbers(array('separator' => '')); ?></li>
                                <li><?= $this->Paginator->next(__('Last'), array(), null, array('class' => 'next disabled')); ?></li>
                            </ul>
                        </div>
                    </div>
                        <!-------end pagination----------->
                        </div>
                          
                        </div>
                </div>
            </div>
            </div>
       