<table  border="0" cellpadding="0" cellspacing="0" align="left" width="100%"> 
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
             Today's Total Created Reports - <?=$cnt_ready_to_active;//= $cnt_ready_to_active ?><br/><br/>           
        </td>
    </tr>
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
        Today's Total Modified Reports - <?= $cnt_producttotal_modified_active ?><br/><br/>
        </td>
    </tr>
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
        Today's Total Leads - <?= $cnt_tleads_created_active ?><br/><br/>
        </td>
    </tr>
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
        Today's Last Login - <?= $llogin ?><br/><br/>
        </td>
    </tr>
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
        Today's Last Login - <?php
      
          foreach ($tleadsllogin_created as $key => $value) { ?>
 <li class="center" style="border-bottom:1px solid #ddd; font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 10px; ">
                <?php echo $value; ?> 
            </li>
          <?php
             }
        ?> 
        </td>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
         First Name - <br/><br/>
         <?php foreach ($tleadslf_created as $key => $value) { ?>
 <li class="center" style="border-bottom:1px solid #ddd; font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 10px; ">
                <?php echo $value; ?> 
           
          <?php
             }
        ?> 
         </li>
        </td>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
        Last Name -<br/><br/>
       
        <?php foreach ($tleadsll_created as $key => $value) { ?>
 <li class="center" style="border-bottom:1px solid #ddd; font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 10px; ">
                <?php echo $value; ?> 
            <!-- </li> -->
          <?php
             }
        ?> 
         </li>
        </td>
    </tr>
  </table>
  
