<?php // debug($pro_name); exit;?>
<table  border="0" cellpadding="0" cellspacing="0" align="left"> 
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
            New Sample Request for product <?= $pro_name['Product']['product_name'] ?><br/><br/>           
        </td>
    </tr>
    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
            Report Name : <?php echo $pro_name['Product']['product_name']; ?> 
        </td>
    </tr>

    <tr>
        <td  class="center" style="font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
            Publisher Name : <?php echo $pro_name['Product']['publisher_name']; ?> 
        </td>
    </tr>

    <!-- Email field added VG-28-04-2017 Start -->
    <tr>
        <td   class="center" style="font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
            Email : <?php $email = $data['User']['email']; $rawmail = explode("@",$email); echo "*****@".$rawmail[1];  ?>
        </td>
    </tr>
   <!-- Email field added VG-28-04-2017 End --> 
</table>