<div class="slideshow index">
	<h2><?php echo __('Slideshow'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('image'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($slideshow as $slideshow): ?>
	<tr>
		<td><?php echo h($slideshow['Slideshow']['id']); ?>&nbsp;</td>
		<td><?php echo h($slideshow['Slideshow']['image']); ?>&nbsp;</td>
		<td><?php echo h($slideshow['Slideshow']['created']); ?>&nbsp;</td>
		<td><?php echo h($slideshow['Slideshow']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $slideshow['Slideshow']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $slideshow['Slideshow']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $slideshow['Slideshow']['id']), array(), __('Are you sure you want to delete # %s?', $slideshow['Slideshow']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Slideshow'), array('action' => 'add')); ?></li>
	</ul>
</div>
