<div class="footer">
    <div class="pull-right">

    </div>
    <div>
        <strong>Copyright</strong> valuemarketresearch.com &copy; <?php echo date("Y", strtotime("-1 year")); ?>-<?php echo date("Y"); ?>
    </div>
</div>
<script>
    function goBack() {
        window.history.back()
    }
</script>
