<div class="blogs index">
	<div class="row">
			<div class="col-md-10">
					<h2><?php echo __('Blogs'); ?></h2>
			</div>
			<div class="col-md-2">
					<?php echo $this->Html->link('Add Blog',array('action'=>'add'),array('class'=>'btn btn-primary')) ?>
			</div>
	</div>

	<table class="table table-bordered">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('title'); ?></th>
			<!-- <th><?php echo $this->Paginator->sort('description'); ?></th> -->
			<th><?php echo $this->Paginator->sort('slug'); ?></th>
			<th><?php echo $this->Paginator->sort('meta_title'); ?></th>
			<th><?php echo $this->Paginator->sort('meta_desc'); ?></th>
			<th><?php echo $this->Paginator->sort('meta_keywords'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($blogs as $blog): ?>
	<tr>
		<td><?php echo h($blog['Blog']['id']); ?>&nbsp;</td>
		<td><?php echo h($blog['Blog']['title']); ?>&nbsp;</td>
		<!-- <td><?php echo h($blog['Blog']['description']); ?>&nbsp;</td> -->
		<td><?php echo h($blog['Blog']['slug']); ?>&nbsp;</td>
		<td><?php echo h($blog['Blog']['meta_title']); ?>&nbsp;</td>
		<td><?php echo h($blog['Blog']['meta_desc']); ?>&nbsp;</td>
		<td><?php echo h($blog['Blog']['meta_keywords']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $blog['Blog']['id']),array('class' => 'btn btn-outline btn-sm btn-warning dim')); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $blog['Blog']['id']),array('class' => 'btn btn-outline btn-sm btn-info dim')); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $blog['Blog']['id']), array('class' => 'btn btn-outline btn-sm btn-danger dim'), __('Are you sure you want to delete # %s?', $blog['Blog']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Blog'), array('action' => 'add')); ?></li>
	</ul>
</div>
