<?php

	error_reporting(0);

	// echo"<pre>";print_r($decryptValues);exit;
	echo "<center>";

	// for($i = 0; $i < $dataSize; $i++)
	// {
	// 	$information=explode('=',$decryptValues[$i]);
	// 	if($i==3)	$order_status=$information[1];
	// }

	if($success===true)
	{
		echo "<br><h1>Your credit card has been charged and your transaction is successful.<h1><h5>Thanks for placing an order with valuemarketresearch.com .Our team will get in touch with you shortly and take this forward. Alternatively, you could mail us at sales@valuemarketresearch.com</h5>";

	}
	// else if($order_status==="Aborted")
	// {
	// 	echo "<br><h1>The transaction has been Aborted !<h1><h5>Thank you for shopping with us. Our team will get in touch with you shortly and take this forward. Alternatively, you could mail us at sales@valuemarketresearch.com<h5>";

	// }
	// else if($order_status==="Failure")
	// {
	// 	echo "<br><h1>The transaction has been declined !</h1><h5>Thank you for shopping with us. Our team will get in touch with you shortly and take this forward. Alternatively, you could mail us at sales@valuemarketresearch.com</h5>";
	// }
	else
	{
		echo "<br><h1>Security Error! Illegal access detected </h1><h5>Our team will get in touch with you shortly and take this forward. Alternatively, you could mail us at sales@valuemarketresearch.com</h5>";

	}

	echo "<br><br>";


?>