<div class="specificationOptions index">
	<h2><?php echo __('Specification Options'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('option_name'); ?></th>
			<th><?php echo $this->Paginator->sort('specification_id'); ?></th>
			<th><?php echo $this->Paginator->sort('is_active'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($specificationOptions as $specificationOption): ?>
	<tr>
		<td><?php echo h($specificationOption['SpecificationOption']['id']); ?>&nbsp;</td>
		<td><?php echo h($specificationOption['SpecificationOption']['option_name']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($specificationOption['Specification']['id'], array('controller' => 'specifications', 'action' => 'view', $specificationOption['Specification']['id'])); ?>
		</td>
		<td><?php echo h($specificationOption['SpecificationOption']['is_active']); ?>&nbsp;</td>
		<td><?php echo h($specificationOption['SpecificationOption']['created']); ?>&nbsp;</td>
		<td><?php echo h($specificationOption['SpecificationOption']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $specificationOption['SpecificationOption']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $specificationOption['SpecificationOption']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $specificationOption['SpecificationOption']['id']), null, __('Are you sure you want to delete # %s?', $specificationOption['SpecificationOption']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Specification Option'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Specifications'), array('controller' => 'specifications', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Specification'), array('controller' => 'specifications', 'action' => 'add')); ?> </li>
	</ul>
</div>
