<div class="productSpecifications index">
	<h2><?php echo __('Product Specifications'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_id'); ?></th>
			<th><?php echo $this->Paginator->sort('specification_id'); ?></th>
			<th><?php echo $this->Paginator->sort('specification_option_id'); ?></th>
			<th><?php echo $this->Paginator->sort('is_active'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($productSpecifications as $productSpecification): ?>
	<tr>
		<td><?php echo h($productSpecification['ProductSpecification']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($productSpecification['Product']['id'], array('controller' => 'products', 'action' => 'view', $productSpecification['Product']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($productSpecification['Specification']['id'], array('controller' => 'specifications', 'action' => 'view', $productSpecification['Specification']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($productSpecification['SpecificationOption']['id'], array('controller' => 'specification_options', 'action' => 'view', $productSpecification['SpecificationOption']['id'])); ?>
		</td>
		<td><?php echo h($productSpecification['ProductSpecification']['is_active']); ?>&nbsp;</td>
		<td><?php echo h($productSpecification['ProductSpecification']['created']); ?>&nbsp;</td>
		<td><?php echo h($productSpecification['ProductSpecification']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $productSpecification['ProductSpecification']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $productSpecification['ProductSpecification']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $productSpecification['ProductSpecification']['id']), null, __('Are you sure you want to delete # %s?', $productSpecification['ProductSpecification']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Product Specification'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Specifications'), array('controller' => 'specifications', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Specification'), array('controller' => 'specifications', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Specification Options'), array('controller' => 'specification_options', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Specification Option'), array('controller' => 'specification_options', 'action' => 'add')); ?> </li>
	</ul>
</div>
