  <?php 

    $output='<ul class="list-unstyled" id="search_ul" style="cursor:pointer;background-color:#fff;">';
      for($i=0;$i<sizeof($search_results);$i++ )
        { 
            $link=Router::url( array('controller' => 'products', 'action' => 'category_details', 'slug' => $search_results[$i]['Product']['slug']));
            //debug($link);
          $output.=  '<a target="_blank" style="text-decoration: none;color:#363636;" href='.  $link  . ' ><li id="result"  style="padding:8px;text-align: left;font-size: small;border-bottom: 1px solid rgba(76,76,76,.05);"> '. $search_results[$i]['Product']['alias']  .'</li></a>';
        }
      $output.='</ul>';
      echo $output; 
      //json_encode($data);
  ?>
   
