<?php
//session_start();
// $sessData = !empty($_SESSION['sessData'])?$_SESSION['sessData']:'';
// if(!empty($sessData['status']['msg'])){
//     $statusMsg = $sessData['status']['msg'];
//     $statusMsgType = $sessData['status']['type'];
//     unset($_SESSION['sessData']['status']);
// }
?>
<h2 style="margin-left:90px;">Reset Your Account Password</h2>
<?php //echo !empty($statusMsg)?'<p class="'.$statusMsgType.'">'.$statusMsg.'</p>':''; ?>
<div class="container">
    <div class="regisFrm">
        <form action="<?= Router::url('/forgotresetpassword/forgotresetadd',true)?>" method="post" class="col-lg-6">
        <?php //echo $this->Form->create("resetpassword",array('url'=>'resetpassword/resetadd')); ?>
           
           <div> <input type="password" id="myInput" name="password" placeholder="PASSWORD" class="form-control" required="">
            <input type="checkbox" onclick="myFunction()">Show Password
            </div>
            <div>
            <input type="password" name="confirm_password" class="form-control" placeholder="CONFIRM PASSWORD" required="">
            </div>
            <div class="send-button">
                <input type="hidden" name="fp_code" value="<?php //echo $_REQUEST['fp_code']; ?>"/><br>
                <input type="hidden" name="userid" value="<?php echo $_REQUEST['userid']; ?>"/><br>
                <input type="submit" name="resetSubmit" class="form-control btn btn-success" value="RESET PASSWORD">
            </div>
            <?php //echo $this->Form->end(); ?>
        </form>
    </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>