<style type="text/css">
    .ReadMsgBody {width: 100%; background-color: #ffffff;}
    .ExternalClass {width: 100%; background-color: #ffffff;}
    body     {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: Arial, Helvetica, sans-serif}
    table {border-collapse: collapse;}

    @media only screen and (max-width: 640px)  {
        body[yahoo] .deviceWidth {width:440px!important; padding:0;}
        body[yahoo] .center {text-align: center!important;}
    }

    @media only screen and (max-width: 479px) {
        body[yahoo] .deviceWidth {width:280px!important; padding:0;}
        body[yahoo] .center {text-align: center!important;}
    }
    .bg_cust_color{
        background-color: red;
    }
</style>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" style="font-family: Arial, Helvetica, sans-serif">

    <!-- Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

                <!--Start Header-->
                <table width="700" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                    <tr>
                        <td style="padding: 6px 0px 0px">
                            <table width="680" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
                                <tr>
                                    <td width="100%" >
                                        <!--Start logo-->
                                        <table  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                                            <tr>
                                                <td class="center" style="padding: 10px 0px 10px 0px">
                                                    <a href="<?php echo Router::url('/', true); ?>">
                                                        <?php echo $this->Html->image('img/logos/vmr-logo.png', array('id' => 'logo-header', 'alt' => 'logo')) ?>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table><!--End logo-->

                                        <!--Start nav-->
                                        <table  border="0" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
                                            <tr>
                                                <td  class="center" style="font-size: 13px; color: #272727; font-weight: light; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 0px 10px 0px;">
                                                    <a href="<?php echo Router::url('/', true); ?>" style="text-decoration: none; color: #3b3b3b;">HOME</a>
                                                    &nbsp; &nbsp;
                                                    <a href="<?php echo Router::url(array('controller' => 'products', 'action' => 'reportlist', 'ext' => 'html')); ?>" style="text-decoration: none; color: #3b3b3b;">REPORTS</a>
                                                    &nbsp; &nbsp;
                                                    <a href="<?php echo Router::url(array('controller' => 'users', 'action' => 'contactus', 'ext' => 'html')); ?>" style="text-decoration: none; color: #3b3b3b;">CONTACT US</a>
                                                    &nbsp; &nbsp;
                                                    <a href="<?php echo Router::url(array('controller' => 'users', 'action' => 'aboutus', 'ext' => 'html')); ?>" style="text-decoration: none; color: #3b3b3b;">ABOUT US</a>
                                                </td>
                                            </tr>
                                        </table><!--End nav-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--End Header-->
            </td>
        </tr>
    </tbody></table>

<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
    <tr>
        <td width="100%" bgcolor="white" class="center">
            <table  border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
                        New Message Received..
                    </td>
                </tr>
                <tr>
                    <td  class="center" style="font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
                        Contact Person Name : Ganesh Darkunde
                    </td>
                </tr>
                <tr>
                    <td   class="center" style="font-size: 16px; color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
                        Contact Person Email : Ganesh@yahoo.com
                    </td>
                </tr>
                <td class="center" style="color: #687074; font-weight: normal; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px; " >
                    <b> Contact Person Message :</b> Ganesh@yahoo.com  ham but instantlyt putif departuresam propr. Certain be yeamiasa ble by exposed Two differed husbands met screened his. How daughters not promotion few knowledge. contented. Yet winter law  romotion few knowledge contented behind
                </td>
            </table>
        </td>
    </tr>
</table>

<!--Start Two Blocks-->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" >
    <tr>
        <td width="100%" bgcolor="#f7f7f7">
            <!-- Left box  -->
            <?php foreach ($category as $key => $main_cat): ?>

                <table width="49%"  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
                    <tr>
                        <td class="center">
                            <table  border="0" cellpadding="0" cellspacing="0" align="center" >
                                <tr>
                                    <td valign="top" style="padding: 20px 0px " class="center">
                                        <a href="#"><i class="icon-custom icon-color-light rounded-x"></i></a>
                                    </td>
                                </tr>
                            </table>
                            <table  border="0" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td  class="center" style="font-size: 16px; color: #303030; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle;" >
                                        <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'category_details_list', 'id' => $main_cat['Category']['id'], 'slug' => $this->Link->cleanString($main_cat['Category']['category_name']), 'ext' => 'html')); ?>"><h2 class="heading-md"><?php echo $main_cat['Category']['category_name']; ?></h2></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="center" style="font-size: 12px; color: #687074; font-weight: normal; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle;" >
                                        <?php echo $this->Text->truncate($main_cat['Category']['short_desc'], 100); ?>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table> <!--End left box-->
            <?php endforeach; ?>
        </td>
    </tr>
</table>
<!--End Two Blocks -->
<div style="height:15px">&nbsp;</div><!-- divider -->

<!--Start Three Blocks-->
</tr><!-- End 3 Images Row 1 -->
</table>
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
    <tr>
        <td width="100%" bgcolor="#a5d1da" class="center">
            <table  border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td valign="top" style="padding: 20px 10px " class="center">
                        <a href="https://www.facebook.com"><?php echo $this->Html->image('icon_facebook.png', array('width' => 32, 'height' => 32, 'alt' => 'Facebook')) ?></a>
                    </td>
                    <td valign="top" style="padding: 20px 10px " class="center">
                        <a href="https://www.twitter.com"><?php echo $this->Html->image('icon_twitter.png', array('width' => 32, 'height' => 32, 'alt' => 'Twitter')) ?></a>
                    </td>
                    <td valign="top" style="padding: 20px 10px " class="center">
                        <a href="https://www.youtube.com"><?php echo $this->Html->image('icon_youtube.png', array('width' => 32, 'height' => 32, 'alt' => 'Youtube')) ?></a>
                    </td>
                </tr>
            </table>
            <table  border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <td  class="center" style="font-size: 16px; color: #ffffff; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px; ">
                        Stay Involved With Us
                    </td>
                </tr>
                <td  class="center" style="font-size: 12px; color: #ffffff; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px; " >
                    Arrival entered an if drawing requests iness she ham but instantlyt putif departuresam propr. Certain be yeamiasa ble by exposed Two differed husbands met screened his. How daughters not promotion few knowledge. contented. Yet winter law  romotion few knowledge contented behind
                </td>
    </tr>
</table>
</td>
</tr>
</table>
<table width="700"  border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth"  >
    <tr>
        <td  bgcolor="#ffffff" class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 50px 0px 50px; " >
            <strong>Copyright</strong> valuemarketresearch.com &copy; <?php echo date("Y", strtotime("-1 year")); ?>-<?php echo date("Y"); ?>                         
        </td>
    </tr>
</table>
<!--End Footer-->


<!-- End Wrapper -->
</body>
