<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="pull-right">
                 </div>
                <h5>Report Description Update Details</h5> 
            </div>
            <div class="ibox-content">
                <div class="row">
                                <div class="col-lg-10">
                                    <br>
                                    <!----------->
                                    <form name="countryselect" action="reportdescriptionimage" method="post" >
                                    <input type="text" name="searchrdimage" id="country-list" class="form-control">
                                    <!-- <div style="display:none;"> -->
                                    <!-- <select class='form-control select2' id="country-list" name="countryselected">
                                    <option>Select</option>
                                        <?php foreach($countries as $coun) { ?>
                                            <option value="<?php echo $coun['Reportdescriptionimage']['id']; ?>"><?php echo $coun['Reportdescriptionimage']['id']; ?>&nbsp;&nbsp;<?php echo $coun['Reportdescriptionimage']['product_name']; ?><?php echo $coun['Reportdescriptionimage']['slug']; ?></option>
                                        <?php } ?>
                                    </select> -->
                                    <!-- </div> -->
                                    </div>
                                    <div class="col-lg-2">
                                    <input type="submit" value="Search" style="margin-top:14px;" class="btn btn-success btn-md"/>
                                    </div>
                                    </form>
                                    <br><br><br><br><br>
                                    <!------start-------------->
                                  

                                    <div class="col-lg-12">
                                    <?php echo $this->Form->create("reportdescriptionimage",array('url'=>'/reportdescriptionimage/add')); ?>
                                    <?php echo $this->Form->submit(__('Save'), array('class' => 'btn btn-success btn-md', 'div' => false)); ?>
                                    <!-- <div class="row"> -->
                                    <table class="table table-bordered table-striped table-condensed table-hover dataTable js-basic-example">
                                    <thead>
                                    <tr>
                                    <th style="width:90px">Id</th>
                                    <th style="width:90px">Product No</th>
                                    <th style="width:90px">Report Slug</th>
                                    <th style="width:210px">Product Description </th>
                                    <th style="width:210px">Product Meta Description </th>
                                    </tr>
                                    </thead>
                                    <?php
                                    if(@$tarcounselect=="")
                                    {}
                                    else
                                    {
                                    foreach($tarcounselect as $counts) {
                    // echo "<pre>";
                    // print_r($counts['Reportdescriptionimage']['product_description']);
                    // exit;
                                    //---------end image alt-------
                                   
                                    ?>
                                   <?php //echo $this->Html->script('back/ckeditor/ckeditor.js?'.time()); ?>
                                   <?php echo $this->Html->script('back/ckeditor/ckeditor.js?'.time()); ?>
                                    <tbody id="AjaxRefreshTable">
                                    <!-- <?php //echo $this->Form->create("reportdescriptionimage",array('url'=>'/reportdescriptionimage/add')); ?> -->
                                    <textarea rows="10" cols="10" name="productdescription[]" class="form-control" style="display:none;" value="<?php echo $counts['Reportdescriptionimage']['product_description']; ?>"><?php echo $counts['Reportdescriptionimage']['product_description']; ?></textarea>
                                    <tr>
                                    <td style="width:90px"><textarea rows="2" cols="2" name="ids[]" value="" class="form-control" readonly> <?php echo $counts['Reportdescriptionimage']['id']; ?></textarea></td>
                                    <td style="width:90px"><textarea rows="2" cols="2" name="product_no[]" value="" class="form-control" readonly><?php echo $counts['Reportdescriptionimage']['product_no']; ?></textarea></td>
                                    <td style="width:160px">
                                    <textarea rows="4" cols="10" name="slug[]" class="form-control" readonly><?php echo $counts['Reportdescriptionimage']['slug']; ?></textarea>
                                    </td>
                                    <td style="width:210px">
                                    <textarea rows="10" cols="10" name="description[]" class="ckeditor form-control"><?php echo $counts['Reportdescriptionimage']['product_description'];?><?php //echo $textproddescription; ?><?php //echo (!empty($elementurl[0]))?$elementurl[0]:""; ?><?php //echo strip_tags(substr($counts['Reportdescriptionimage']['product_description'],0,400));?><?php //echo $textproddescs; //echo substr($counts['Reportdescriptionimage']['product_description'],3,400);?></textarea>
                                    </td> 
                                    <td style="width:210px">
                                    <textarea rows="10" cols="10" name="metadescription[]" class="ckeditor form-control"><?php echo $counts['Reportdescriptionimage']['meta_desc'];?></textarea>
                                    </td> 
                                    </tr>
                                    <?php  } } ?>
                                    </tbody>
                                    </table>
                                    <!-- <?php //echo $this->Form->submit(__('Save'), array('class' => 'btn btn-success btn-md', 'div' => false)); ?> -->
                                    <?php echo $this->Form->submit(__('Save'), array('class' => 'btn btn-success btn-md', 'div' => false)); ?>
                                    <?php echo $this->Form->end(); ?>
                                    <!-- </div> -->
                                    </div>
                                    <!------end---------------->

                                      <!-------start pagination----------->
                        <div class="row col-md-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <p>
                                <?php
                                echo $this->Paginator->counter(array(
                                    'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
                                ));
                                ?> </p>
                            <ul class="pagination" style="visibility: visible;">
                                <li><?= $this->Paginator->prev(__('First'), array(), null, array('class' => 'prev disabled')); ?></li>
                                <li><?= $this->Paginator->numbers(array('separator' => '')); ?></li>
                                <li><?= $this->Paginator->next(__('Last'), array(), null, array('class' => 'next disabled')); ?></li>
                            </ul>
                        </div>
                    </div>
                    
                        <!-------end pagination----------->
                        </div>

                      
                        </div>
                </div>
            </div>
            </div>
       